#in1 {
  background-color: khaki;
  border-color: lightslategray;
  border-style: dashed;
  border-radius: 20px 60px 20px 60px;
}

#example {
  font-size: 20px;
  font-family: "Jeju Gothic", sans-serif;
}
#ex_result {
  font-size: 13px;
  font-family: "Jeju Gothic", sans-serif;
}
.centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
textarea.autosize {
  min-height: 150px;
  min-width: 500px;
}

#dic {
  background-color: cornsilk;
}
#result {
  border-color: lightgray;
  border-style: dotted;
}
