#in1 {
  font-family: "Jua", sans-serif;
}
#inin {
  font-family: "Jua", sans-serif;
}
#example {
  font-size: 20px;
  font-family: "Jeju Gothic", sans-serif;
}
#ex_result {
  font-size: 13px;
  font-family: "Jeju Gothic", sans-serif;
}
.centered {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
textarea {
  height: 150px;
  width: 300px;
}

div#dic {
    width:840px;
    height:317px;
    overflow:hidden;     /* if you don't want a scrollbar, set to hidden */
    overflow-x:hidden;   /* hides horizontal scrollbar on newer browsers */

    /* resize and min-height are optional, allows user to resize viewable area */
    -webkit-resize:vertical; 
    -moz-resize:vertical;
    resize:vertical;
    min-height:317px;
}

iframe#embed
{
    width:1000px;       /* set this to approximate width of entire page you're embedding */
    height:1000px;      /* determines where the bottom of the page cuts off */
    margin-left:-200px; /* clipping left side of page */
    margin-top:-440px;  /* clipping top of page */
    overflow:hidden;

    /* resize seems to inherit in at least Firefox */
    -webkit-resize:none;
    -moz-resize:none;
    resize:none;
}
#check {
  font-family: "Jua", sans-serif;
  font-size: 19px;
}
#inputbox {
  font-family: "Jeju Gothic", sans-serif;
  border-color: cornsilk;
  border-radius: 5px;
  font-size: 12px;
}
#trans {
  width: 100px;

  background-color: #8f9ada;

  border: none;

  color: #fff;

  padding: 15px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
  border-radius: 10px;
}

#dell {
  width: 100px;

  background-color: #8f9ada;

  border: none;

  color: #fff;

  padding: 15px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
  border-radius: 10px;
}

#copyy {
  width: 100px;

  background-color: #8f9ada;

  border: none;

  color: #fff;

  padding: 15px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
  border-radius: 10px;
}

#add {
  width: 50px;
  float: right;
  background-color: #8f9ada;

  border: none;

  color: #fff;

  padding: 2px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
  border-radius: 5px;
}
#show {
  width: 130px;

  background-color: #8f9ada;

  border: none;

  color: #fff;

  padding: 6px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
  border-radius: 10px;
}

#resul {
  font-family: "Jeju Gothic", sans-serif;
  border-color: cornsilk;
  border-radius: 5px;
  font-size: 12px;
}
